<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="img2zpl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <img2zpl.Properties.Settings>
            <setting name="s_Resize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_LockRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_ResizeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_ResizeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_HeaderFooter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_CompressHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_GenerateCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_NewLinePerRow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_GeneratePerlCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_LastImage" serializeAs="String">
                <value />
            </setting>
            <setting name="s_Font" serializeAs="String">
                <value>Consolas, 8.25pt</value>
            </setting>
            <setting name="s_BGColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="s_FGColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="s_Font_Default" serializeAs="String">
                <value>Consolas, 8.25pt</value>
            </setting>
            <setting name="s_BGColor_Default" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="s_FGColor_Default" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="s_BlackLevel" serializeAs="String">
                <value>59</value>
            </setting>
        </img2zpl.Properties.Settings>
    </userSettings>
</configuration>